.container {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
margin-top: 130px;}

.file-content {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa; 
  border: 1px solid #ddd; 
  border-radius: 5px;
}

.file-content pre {
  white-space: pre-wrap; 
  word-wrap: break-word;
  overflow: hidden; 
  font-size: 14px; 
  max-width: 100%; 
}


h4 {
  margin-bottom: 10px;
  color: #333;
}

pre {
  overflow-x: auto; 
}
.logo-container {
  position: absolute;
  top: 10px;
  left: 20px;
}

.logo {
  width: 150px;
  height: auto;
}